a{
    color: blueviolet;
    font-size: x-large;
}
p{
    color: rgb(17, 226, 101);
    font-size: x-large;
}

#enlace1{
    color: rgb(17, 226, 101);
    font-family: 'Courier New', Courier, monospace;
}

#bloque1{
    margin: 5px 5px 5px 5px;
    padding-left: 650px;
    background-color: blueviolet;

}
#bloque2{
    margin: 5px 5px 5px 5px;
    padding-left: 5px;
    background-color: rgb(28, 171, 210);
}
#carro{
    margin: 5px 5px 5px 5px;
 
  
}

#cuadro{
    list-style-type: circle
}

#carros{
    list-style-type: square
}


  

 .normal {
    width: 250px;
    border: 1px solid #000;
    border-collapse: collapse;
  }
  .normal th, .normal td {
    border: 1px solid #000;
  }

  .fondo {
  width: 100%;
  height: 100vh;
 background-image: url(/Misimagenes/fondo.webp);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 
  }

